.import/
*.import
*.glsl
*.gdshader
*.png.import
*.jpg.import
*.svg.import
export/
*.pck
*.exe
*.dll
*.dylib
*.wasm
*.app
*.apk
*.aab
android/
ios/
linux/
windows/
build/
.vscode/
.idea/
*.user
*.userprefs
